appCliente/xml-resources/web-service-references/DisplayAverageService/wsdl/localhost_8081/WebApplication/DisplayAverageService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.com/">

<xs:element name="avCourse" type="tns:avCourse"></xs:element>

<xs:element name="avCourseResponse" type="tns:avCourseResponse"></xs:element>

<xs:element name="generalAverage" type="tns:generalAverage"></xs:element>

<xs:element name="generalAverageResponse" type="tns:generalAverageResponse"></xs:element>

<xs:complexType name="generalAverage">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generalAverageResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avCourse">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="course" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>